.nav-color {
    background-color: teal;
}

#name {
    margin-left: 10px;;
}

#about-me, #work, #contact-me {
    margin: 50px;
}

h5 {
    margin-left: 30px;
}

.image {
    border: teal 5px solid;
    border-radius: 10px;
}

#image-1 {
    width: 1300px;
}

#image-2, #image-3, #image-4, #image-5 {
    width: 600px;
}

.info {
    display: block;
    color: white;
    text-align: center;
}

/* iPad */
@media screen and (max-width: 769px) {

    #image-1 {
        width: 635px;
    }

    #image-2, #image-3, #image-4, #image-5 {
        width: 300px;
    }
}

/* iPhone X */
@media screen and (max-width: 376px) {

    .list-items {
        background-color: teal;
    }

    #about-me, #work, #contact-me {
        margin: 10px;
    }

    #about-me {
        margin-top: 80px;
    }

    #image-1 {
        width: 350px;
    }

    #image-2, #image-3, #image-4, #image-5 {
        width: 350px;
        display: block;
    }

}