.contact-me {
    margin-top: 50px;
    margin-left: 50px;
    text-align: left;
}

.blurb {
    margin-top: 20px;
    margin-left: 50px;
    text-align: left;
}

.left {
    margin-left: 185px;
    margin-right: 100px;
    padding: 20px;
}

.right {
    margin-right: 75px;
    padding: 20px;
}